body{
margin: 0;
}

.premier{
color:white;
background:url(../../image/anniv.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width:100%;
height:100%;
}

.second{
color:white;
background:url(../../image/gateauN.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width:100%;
height:100%;
}

.auttre{
	position:relative;
	margin-top: 400px;
}

.color{
	position:relative;
	top:370px;
  	font-size:80px;
	color:white;
	font-family:Impact, fantasy;
	
}
.colorr{
	position:relative;
	top:380px;
  	font-size:35px;
	color:white;
	font-family:Impact, fantasy;
	
}

.error-message{
	color:red;
	display:none;
}

.autreee{
	margin-top:30px;
} 
.autr{
	margin-top: 70px;
}
#background_container{
	position: absolute;
	width:100%;
	height:100%;
	display:block;
	z-index:0;
	background-position: center center;
	background-repeat: no-repeat;
}

#video_background{
position: fixed;
bottom: 0px;
right: 0px;
min-width: 100%;
min-height: 100%;
width: 60%;
height: auto;
z-index: -1000;
overflow: hidden;

}

.de{
	color:white;
	font-size:30px;
	font-family:Impact, fantasy;
}
.de:hover { 
  color: #ffc107;
}

.accr{
	font-size:35px;
	font-family:Stencil Std, fantasy;
	font-weight:200;
}

.dim{
	width:50%;
}
.co{
	color:#ffc107;
}

.co:hover{
color:white;
}

